@model IEnumerable<ltweb.Models.Region>
@{ ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";}



<h2>Today's News</h2>

<html class="no-js" lang="en">
<body id="top">



</body>

</html>