@model IEnumerable<ltweb.Models.News>
@{ ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";}



<h2>Today's News</h2>
@foreach (News item in Model)
{

<li>
    <div class="col-lg-2">
        <a href="@Url.Action("Details/" + item.Id, "News")"><img src="@(item.CoverImage)" alt="@item.Title" width="128" /></a>
    </div>
    <div class="col-lg-2">
        <span>@Html.ActionLink(item.Title, "Details", "News", new { Id = item.Id }, new { })</span>
    </div>
</li>}
<body id="top" class="  pace-done">


    <section id="bricks">

        <div class="row masonry">

            <!-- brick-wrapper -->
            <div class="bricks-wrapper" style="position: relative; height: 2763.3px;">

                <div class="grid-sizer"></div>




            </div> <!-- end brick-wrapper -->

        </div> <!-- end row -->
    </section> <!-- end bricks -->





</body>